* {
    outline-style: dotted;
    outline-color: red;
    outline-offset: -1px;
}

body {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: normal;
}

/*<editor-fold desc="Title">*/

.title h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.title h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

/*</editor-fold>*/

/*<editor-fold desc="Om mig">*/

.about-me {
    display: flex;
    width: 100vw;
}

.about-me img {
    height: 30rem;
    width: 25rem;
    object-fit: cover;
    border-radius: 4%;
}

.column {
    float: right;
    width: 25%;
    text-align: justify;
    margin-right: 10px;
    justify-content: end;
}

.about-me:after {
    content: "";
    display: table;
    clear: both;
}

/*</editor-fold>*/


/*<editor-fold desc="Arbejdserfaring">*/
.container {
    position: relative;
    width: 50%;
}

.work-experience .container img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container:hover .overlay {
    opacity: 1;
}

.overlay {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*</editor-fold>*/





