* {
    color: #222222;
}

* {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: normal;
}

/*<editor-fold desc="Title">*/

.title h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.title h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

/*</editor-fold>*/

/*<editor-fold desc="Navigations liste">*/
.site-header {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1000;
    border-bottom: 1px solid #eee;
}

.site-header {
    scroll-margin-top: 64px;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0.75rem 1rem;
    margin: 0;

}

.nav a {
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}


/*</editor-fold>*/

/*<editor-fold desc="Om mig">*/

#about-me {
    display: flex;
    width: 100vw;
}

#about-me img {
    height: 30rem;
    width: 25rem;
    object-fit: cover;
    border-radius: 4%;
}

.column {
    float: right;
    width: 25%;
    text-align: justify;
    margin-right: 10px;
    justify-content: end;
}

#about-me:after {
    content: "";
    display: table;
    clear: both;
}

/*</editor-fold>*/

/*<editor-fold desc="Arbejdserfaring">*/
.flex {
    display: flex;
}
.container {
    position: relative;
    width: 25%;
}


#work-experience .container img {
    display: block;
    width: 100%;
    height: 20rem;
}

#work-experience .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color : #778899;
}

#work-experience .container:hover .overlay {
    opacity: 1;
}

#work-experience .overlay {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#work-experience .outro {
    display: flex;
    justify-content: center;
}

/*</editor-fold>*/

/*<editor-fold desc="Kontakt information">*/
.footer a {
    text-decoration: none;
    color: #222;
}
.footer a:hover {
    text-decoration: underline;
}


/*</editor-fold>*/

